# Stack Core (Obligatorio)
Django>=5.0,<5.1
djangorestframework==3.15.1
psycopg2-binary==2.9.9
redis==5.0.4
celery==5.4.0
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
websockets==12.0

# Utilidades Financieras y Estado
django-fsm==2.8.1


# Calidad de Código y Testing
pytest-django==4.8.0
pytest-asyncio==0.23.6
pytest-mock==3.14.0
hypothesis==6.102.4